body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

.summary-card {
    width: 35%;
    background-color: white;
}

.illustration-hero {
    width: 100%;
}

.card-body {
    padding: 2em;
}

.order-title {
    text-align: center;
}

.order-description {
    text-align: center;
}

.plan-card {
    background-color: grey;
}